---
---

@import url('https://fontlibrary.org//face/cmu-serif');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

$CSS-Blue:      #2f3c63;
$CSS-Mid-Blue:  #101939;
$CSS-Deep-Blue: #0a0f1e;
$TeX-Purple:    #9d68dc;

$background:    #241040;

$secondary-highlight: #e4d05f;
$secondary-background: #cbb347;
$secondary-lowlight: #79651b;
$secondary-text: #000;

$text: #fff;

$font-primary: "CMUSerifRoman", serif;
$font-secondary: "Ovo", serif;


html {
    a { 
        color: $secondary-highlight;
        font-family: $font-secondary;
        text-decoration: none;
    }
}

header {
    background-color: $secondary-lowlight;

}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;

    background-image: url("/assets/events/ball/2022-background.png");
    background-size: cover;
    background-color: $background;

    display: flex;
    flex-direction: column;

    .text-center-div {
        text-align: center;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
      }
    
    .margin-top {
        border-top: 3px solid $secondary-background;
        margin-top: 15px;
        padding-top: 15px;
    }
    
    .margin-bottom {
        border-bottom: 3px solid $secondary-background;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .title {
        font-size: 10vw;
        margin-top: 2.5vh;
        font-family: $font-primary;
        color: $secondary-background;
    }

    .subtitle {
        font-size: 60px;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        font-family: $font-primary;
        color: $secondary-background;
    }

    .subsubtitle {
        font-size: xx-large;
        font-family: $font-secondary;
    }
    
    .text-block {
        margin-top: 1.25vh;
        margin-bottom: 1.25vh;
        font-family: $font-secondary;
        font-size: x-large;
    }

    .button {
        display: inline-block;
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        text-decoration: none;
        font-family: $font-secondary;
        width: 220px;
        height: 25px;
        margin: 5px 5px;
        background-color: $secondary-lowlight;
        color: $text;
    }

    .qanda{
        .question, .answer {
            text-align: left;
        }
    }
}

.menu {
    .menu-section-title {
        font-size: 60px;
        margin-top: 2.5vh;
        font-family: $font-primary;
    }
    
    .menu-item {
        font-family: $font-secondary;
        margin-bottom: 2.5vh;
    }
}