---
---

@import url('https://fontlibrary.org//face/cmu-serif');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&family=Ovo&display=swap');

$primary-background: #241040;
$primary-lowlight: #0c0515;

$secondary-highlight: #e4d05f;
$secondary-background: #cbb347;
$secondary-lowlight: #79651b;
$secondary-text: #000;

$text: #fff;

$font-primary: "Gentium Book Basic", "CMUSerifRoman", serif;
$font-secondary: "Ovo", serif;


html {
    a { 
        color: $secondary-highlight;
        font-family: $font-secondary;
        text-decoration: none;
    }
}

header {
    background-color: $secondary-lowlight;

}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;

    background-image: url("/assets/events/ball/2022-background.png");
    background-size: cover;
    background-attachment: fixed;
    background-color: $primary-background;

    display: flex;
    flex-direction: column;

    .text-center-div {
        text-align: center;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }

    .avoidwrap {
        display: inline-block;
    }

    .margin-top {
        border-top: 3px solid $secondary-background;
        margin-top: 10px;
        padding-top: 10px;
    }
    
    .margin-bottom {
        border-bottom: 3px solid $secondary-background;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .title {
        font-size: 10vw;
        margin-top: 2.5vh;
        font-family: $font-primary;
        color: $secondary-background;
        text-shadow: 0.5vw 0.5vw 0.6vw $primary-lowlight;
    }

    .subtitle {
        font-size: 60px;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        font-family: $font-primary;
        color: $secondary-background;
        text-shadow: 0.2vw 0.2vw 0.3vw $primary-lowlight;
    }

    .subsubtitle {
        font-size: xx-large;
        font-family: $font-secondary;
        text-shadow: 0.1vw 0.1vw 0.2vw $primary-lowlight;
    }
    
    .text-block {
        margin-top: 1.25vh;
        margin-bottom: 1.25vh;
        font-family: $font-secondary;
        font-size: x-large;
    }

    .button {
        display: inline-block;
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        text-decoration: none;
        font-family: $font-secondary;
        width: 220px;
        height: 25px;
        margin: 5px 5px;
        background-color: $secondary-lowlight;
        color: $text;
        &.empty {
            filter: brightness(60%);
        }
        &:not(.empty) {
            box-shadow: 0.2vw 0.2vw 0.3vw $primary-lowlight;
            &:hover {
                filter: brightness(110%);
                box-shadow: 0.5vw 0.5vw 0.6vw $primary-lowlight;
            }
        }
    }

    .section-details {
        .venue-date{
            font-size: 69px;
        }
        .countdown{
            font-size: xx-large;
        }
    }

    .flex {
        display: flex;
        flex-direction: row;

        .flex-l {
            flex: 0 1 auto;
        }
        .flex-r {
             flex: 1 0 auto;
         }


    }



    .section-venue {
        margin-bottom: inherit;

        .description {
            padding: 0.5vw;
            background-color: $primary-lowlight;
        }
    }

    .section-hashtag {
        .hashtag {
            font-size: 130px;
            margin: auto;
        }
        .hashtag-buttons {
            display: inline-grid;
            margin: 0 auto;
            flex: 0 0 auto
        }


        @media screen and (max-width: 1114px){
            flex-direction: column;

            .hashtag {
                font-size: 16vw;
            }
            .hashtag-buttons {
                display: block;
            }
        }
    }

    .section-faq {
        .faq {
            border-top: 2px solid rgba(255, 255, 255, 0.3);

            padding-top: 5px;
            margin: auto;
            width: 80%;

            .question {
                font-weight: bold;
            }
        }
    }
}

.menu {
    .menu-section-title {
        font-size: 60px;
        margin-top: 2.5vh;
        font-family: $font-primary;
    }
    
    .menu-item {
        font-family: $font-secondary;
        margin-bottom: 2.5vh;
    }
}