---
---

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}


#about {
  font-size: 18px;
}

.flex-container {
  display: flex;
}

.flex-v-center {
  align-items: center;
}

.flex-container > div {
  margin: 5px;
}

.text-center {
  text-align: center;
}

.text-img {
  height: 1em;
  width: 1em;
  display: inline;
}

#about-profile {
  margin: 20px 0;
  h1 {
    margin: 10px 0;
  }
  .button {
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Helvetica Neue", sans-serif;
    width: 220px;
    height: 25px;
    margin-bottom: 5px;
  }
}

#profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

#discord-button {
  background-color: #738ADB;
  color: white;
  i {
    color: white;
  }
}

#guild-button {
  background-color: #5bbaa2;
  color: white;
  img {
    vertical-align: middle;
  }
}

#about-us {
  background-color: #F1F3F8;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
}

#get-involved {
  margin: 20px 0;
}

#social {
  #social-buttons{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 185px);
  }

  .social-link {
    display: inline-block;
    width: 150px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    background-color: #F1F3F8;
    border-radius: 20px;
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    h4 {
      font-family: "Helvetica Neue", sans-serif;
      margin: 0;
    }
    h4, i {
      color: white;
    }
  }

  @media (max-width: 600px){
    #social-buttons{
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(2, 185px);
    }
  }

  @media (max-width: 400px){
    #social-buttons{
      justify-content: center;
      display: grid;
      grid-template-columns: 185px;
    }
  }

  .facebook {
    background-color: #1877F2;
  }

  .insta {
    background-color: #d13378;
  }

  .twitter {
    background-color: #00A1F3;
  }

  .linkedin {
    background-color: #0077B5;
  }

  .youtube {
    background-color: #EA3223;
  }      
  
  .github {
    background-color: #161B22;
  }      
}

#sparkles {
  font-size: 30px;
}

#awards {
  margin: 20px 0;
}

#trophy {
  font-size: 30px;
}

#heart {
  font-size: 30px;
}

.emoji-bullet {
  margin: 1px;
}

.subtext {
  margin: 1px;
  font-size: 15px;
  font-style: italic;
}
