---
---

.calendar-controls{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
}

.calendar-button {
    border: 1px solid white;
    border-radius: .25em;
    padding: .4em .65em;
    background-color: #2C3E50;
    color: white;
    vertical-align: middle;
    font-size: 1em;
    line-height: 1.5em;
    font-family: inherit;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.calendar-button:hover {
  background-color:#212529;
}

.calendar-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.calendar {
  background-color: white;
  padding: 20px;
  border-radius: 10px;

  h1, h2, h3, h4, h5, h6 {
    color: black;
  }
}

@media only screen and (max-width: 1600px) {
  .calendar-container {
    width: 70%;
  }
}

@media only screen and (max-width: 1400px) {
  .calendar-container {
    width: 80%;
  }
}

@media only screen and (max-width: 1400px) {
  .calendar-container {
    width: 90%;
  }
}


@media only screen and (max-width: 900px) {
  .calendar-controls-hideable {
    display: none;
  }

  .calendar-container {
    width: 100%;
  }

  .calendar {
    padding: 10px;
  }
}