---
---

.dsc-logo {
  display: block;

  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 85%;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4vw;
  padding-right: 4vw;

  border-radius: 6vw;

  background-color: white;

  img {
    width: 100%;
  }
}

.dsc-description {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 40px;
}

.clubs-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.club {
  position: relative;

  overflow: hidden;
  border-radius: 10px;

  margin: 10px;

  .details {
    * {
      color: black;
    }

    a {
      color: #9d68dc;
    }
  }

  .header-image {
    width: 100%;
    object-fit: cover;
  }

  &.not-recent {
    background-color: #fff;

    .header-image {
      height: 25vh;
      max-width: none;
    }

    .details {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
    }
  }

  &.recent {
    .header-image {
      height: 50vh;
      max-width: none;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .club.recent {
    .details {
      height: 50vh;
      position: absolute;
      top: 0;
      right: 0;

      max-width: 35vw;

      background: linear-gradient(to right, #0000 0%, #fffd 10%);

      text-align: right;

      padding-left: 80px;
      padding-right: 30px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .clubs-list {
    grid-template-columns: 1fr;
  }

  .club.recent {
    background-color: #fff;

    .details {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
    }
  }
}
