---
---

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.container {
  padding: 0 16px;
  background-color: white;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.name {
  font-size: large;
}

.date {
  font-size: small;
}
.name,
.date {
  color: black;
  text-align: center;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #2e3c62;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #25304f;
}
