---
---

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,500;0,700;1,100&family=Roboto&display=swap');

@font-face {
  font-family: "Inconsolata";
  src: url(/fonts/Inconsolata-Regular.ttf) format("truetype");
}

$CSS-Blue:      #2f3c63;
$CSS-Mid-Blue:  #101939;
$CSS-Deep-Blue: #0a0f1e;
$TeX-Purple:    #9d68dc;

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: $CSS-Blue;

  display: flex;
  flex-direction: column;
}

#freshers-banner {
  display: none;
  background-color: #9D68DC;
  border-radius: 10px;
  padding: 2px 20px;
  font-size: 18px;
  margin-bottom: 20px;

  * {
    color: white;
    text-align: center;
    font-family: "JetBrains Mono", "Inconsolata", monospace;
    font-weight: bolder;
  }
}

main {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  flex: 1 1 auto;

  h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: "JetBrains Mono", "Inconsolata", monospace;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-size: 27px;
    font-weight: bold;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 22px;
  }

  .post-date {
    font-weight: lighter;
    font-style: italic;
  }

  p {
    color: white;
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;

    a {
      color: $TeX-Purple;
    }
  }

  li {
    color: white;
    line-height: 1.5em;

    a {
      color: $TeX-Purple;
    }
  }

  .text-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 20px 20px;
    border-radius: 20px;

    * {
      color: black;
    }

    a {
      color: $TeX-Purple;
    }
  }

  iframe {
    display: block;
    max-width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }
  
  img {
    display: block;
    width: 100%;
    max-width: 700px;
    max-height: 400px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;

    & ~ em {
      margin-top: 0.5em;
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}

header {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  background-color: $CSS-Mid-Blue;

  .left {
    flex: 0 0 auto;
    padding-left: 20px;
  }

  .right {
    flex: 1 1 auto;
    text-align: right;
    padding-right: 20px;

  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown button {
    display: inline-block;
    position: relative;
    padding: 0;
    font-size: 24px;
  }

  .dropdown a {
    font-size: 24px;
    text-align: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
    padding: 0;
    background-color: $CSS-Mid_Blue;
    opacity: 1;
    z-index: 10;
    right: 10px;
  }

  .nav {
    // neat animations
     &:before, &:after {
      content: '';
      width: 0;
      height: 0;
      display: block;
      background-color: white;
      transition: width 0.2s;
    }

    &:before {
      float: left;
    }
    &:after {
      float: right;
    }

    &:hover:before, &:hover:after {
      width: 100%;
      margin-top: 3px;
      margin-bottom: 1px;
      height: 1px;
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
  }

  .dropdown-content a:hover {
    background-color: $TeX-Purple;
  }


  .logo {
    display: block;
    width: 100px;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .hamburger {
    flex: 1 1 auto;
    text-align: right;
    display: none;
    padding-right: 20px;

    z-index: 2000;
    padding-top: 5px;
  }

  .mobile-menu {
    font-family: "JetBrains Mono", "Inconsolata", monospace;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    display: flex;
    visibility: hidden;

    padding-top: 100px;

    background-color: $CSS-Deep-Blue;
    z-index: 1000;

    flex-direction: column;
    align-items: flex-end;

    transition: opacity 0.2s;

    &.visible {
      visibility: visible;
      opacity: 1;
    }

    .nav {
      text-align: right;
      font-size: 2em;
      line-height: 1.6em;
      margin-left: 40px;
      margin-right: 20px;

      a {
        &:active, &:focus {
          outline: none;
        }
      }

      button {
	font-weight: 'normal';
      }

      &:first-child:before, &:after {
        content: "";
        display: block;
        width: 80vw;
        height: 2px;
        background-color: white;
      }
    }
  }

  & .nav {
    display: inline-block;
    font-size: 1.5em;
    font-family: "JetBrains Mono", "Inconsolata", monospace;
    font-weight: bold;
    padding-right: 20px;

    a {
      padding: none;
      color: white;
      text-decoration: none;
    }

    button {
      color: white;
      background: none;
      padding: 0;
      border: none;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 800px) {
  main {
    width: 95%;
  }

  header {
    .left {
      padding-left: 10px;
    }

    .right {
      padding-right: 10px;
      font-size: 2vw;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    .right {
      display: none;
    }
    
    .hamburger {
      display: inline-block;
    }
  }
}

footer {
  color: white;
  font-family: "JetBrains Mono", "Inconsolata", monospace;
  font-size: 0.7em;
  text-align: center;
}

.poc-contact {
  list-style-type: none;
  padding: 0;
}

hr {
  color: #9d68dc;
}
