---
---

.chart-container {
    position: center;
    padding-top: 35px;
    padding-bottom: 35px;
    align-items: center;
    height: auto;
    width: auto;
    overflow: hidden;
}

.chart-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}