---
---

.chart-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.chart-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
}

.flex-v-center {
  align-items: center;
}

.flex-container > div {
  margin: 5px;
}

.text-center {
  text-align: center;
}

.text-img {
  height: 1em;
  width: 1em;
  display: inline;
}

.about-profile {
  margin: 20px 0;
  h1 {
    margin: 10px 0;
  }
}

.button {
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-family: "Helvetica Neue", sans-serif;
  width: 220px;
  height: 25px;
  margin-bottom: 5px;

  &.discord-button {
    background-color: #738adb;
    color: white;
    i {
      color: white;
    }
  }

  &.guild-button {
    background-color: #5bbaa2;
    color: white;
    img {
      vertical-align: middle;
    }
  }
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.section-box {
  background-color: #f1f3f8;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.guild-and-uob {
  margin: 20px 0;

  .guild-and-uob-images {
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 230px);
  }

  @media (max-width: 1000px) {
    .guild-and-uob-images {
      justify-content: center;
      align-items: center;
      display: grid;
      grid-template-columns: 250px;
    }
  }
}

.get-involved {
  margin: 20px 0;
}

.social-buttons {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 185px);

  .facebook {
    background-color: #1877f2;
  }

  .insta {
    background-color: #d13378;
  }

  .twitter {
    background-color: #00a1f3;
  }

  .linkedin {
    background-color: #0077b5;
  }

  .youtube {
    background-color: #ea3223;
  }

  .github {
    background-color: #161b22;
  }
}

.social-link {
  display: inline-block;
  width: 150px;
  height: 25px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  background-color: #f1f3f8;
  border-radius: 20px;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  h4 {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
  }
  h4,
  i {
    color: white;
  }
}

@media (max-width: 600px) {
  .social-buttons {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 185px);
  }
}

@media (max-width: 400px) {
  .social-buttons {
    justify-content: center;
    display: grid;
    grid-template-columns: 185px;
  }
}

.sponsors-images {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 185px);
}

.sponsors-buttons {
  justify-content: center;
  display: grid;
}

.sponsors-link {
  display: inline-block;
  width: 280px;
  height: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
  h4 {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
  }
  h4,
  i {
    color: white;
  }
}

@media (max-width: 400px) {
  .sponsors-images {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 185px;
  }

  .sponsors-link {
    width: 150px;
    height: 55px;
  }
}

.sponsors-proposal {
  background-color: #4a9efe; //TeX Detail Shadow
}

.constitution-buttons {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 185px);
}

.constitution-link {
  display: inline-block;
  width: 150px;
  height: 25px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  h4 {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
  }
  h4,
  i {
    color: white;
  }
}

@media (max-width: 400px) {
  .constitution-buttons {
    justify-content: center;
    display: grid;
    grid-template-columns: 185px;
  }
}

.constitution {
  background-color: #793fd8; //TeX Shadow
}

.agendas {
  background-color: #3b37b6; //TeX Blue
}

.emoji-bullet {
  margin: 1px;
}

.subtext {
  margin: 1px;
  font-size: 15px;
  font-style: italic;
}
