.annualChartHolder {
	width: 50%;
	height: auto;
	padding-right: 50px;
}

@media screen and (max-width: 1060px) {
	#pizzaCharts {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}	
	.annualChartHolder {
		width: 100%;
		height: 50%;
	}
}

#pizzaCharts {
	width: 100%;
	height: 100%;
	display: flex;
}

#pizzaMainContent {
	height: 600px;
}