---
---

a {
  text-decoration: none
}

.post-preview {
  display: flex;

  border-radius: 10px;

  background: white;

  .post-thumbnail {
    flex: 0 0 auto;
  }

  .post-details {
    flex: 1 1 auto;
    margin-left: 1em;

    .post-title {
      color: black;
      margin-top: 0.5em;
    }

    .post-excerpt {
      * {
        color: grey;
      }
    }
  }
}