---
---

$preview-height: 150px;

.post-preview {
  display: flex;

  border-radius: 10px;
  overflow: hidden;

  margin-bottom: 20px;

  background: white;

  opacity: 0;
  transition: opacity 0.1s;

  text-decoration: none;

  height: $preview-height;

  .post-thumbnail {
    flex: 0 0 auto;

    width: $preview-height;
    height: $preview-height;
    object-fit: cover;
  }

  .post-details {
    flex: 1 1 auto;
    margin-left: 1em;

    .post-title {
      color: black;
    }

    .post-date {
      color: black;
    }

    .post-excerpt {
      * {
        color: grey;
      }
    }
  }

  &.visible {
    opacity: 1;
  }
}

.post {
  background-color: white;

  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;

  * {
    color: black;
  }

  .post-date {
    margin-top: 0.1em;
    margin-right: 20px;
  }

  .post-image {
    width: 100%;
    height: auto;
  }

  /*
   * TODO: this would be nice to have as part of main.scss so that tables can
   * appear in textpages as well.
   */
  table {
    border-collapse: collapse;

    td, th {
      border: 1px solid black;
      padding: 0.4em;
    }

    thead {
      tr {
        background-color: #eff0f1;
        border-bottom: 2px solid black;
      }
    }

    tbody {
      tr:nth-child(even) {
        background-color: #eff0f1;
      }
      tr:nth-child(odd) {
        background-color: #fefeff;
      }
    }
  }

  .post-quote {
    display: flex;
    border: solid 2px black;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 20px;

    .post-quote-thumbnail {
      width: $preview-height;
      height: $preview-height;
      margin-right: 15px;
      margin-bottom: 10px;
      border-radius: 10px;
    }
    .post-quote-title {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    .post-quote-subtitle {
      margin-top: 0.5em;
      margin-bottom: 0.5em;

    }
    .post-quote-excerpt {

    }
  }

}

.post-header {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, transparent 100%, white 100%);
  margin-bottom: -5px;
}

.post-header-image {
  max-width: 100%;
  max-height: 50vh;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  z-index: -1;
  position: relative;
}

.post-header-body-border {
  border-radius: 0px 0px 20px 20px;
}

@media only screen and (min-width: 600px) {
  .post-preview {
    .post-details {
      .post-title {
        margin-top: 0.5em;
        margin-bottom: 0.3em;
      }
      .post-date {
        margin-top: 0.3em;
        margin-bottom: 0.5em;
      }
      .post-excerpt p {
        margin-top: 0.5em;
      }
    }
  }

}

@media only screen and (max-width: 600px) {
  .post-preview {
    .post-details {
      .post-title {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }
      .post-date {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }
      .post-excerpt p {
        margin-top: 0.5em;
      }
    }
  }
}
