---
---

$preview-height: 150px;

.post-preview {
  display: flex;

  border-radius: 10px;
  overflow: hidden;

  margin-bottom: 20px;

  background: white;

  opacity: 0;
  transition: opacity 0.1s;

  text-decoration: none;

  height: $preview-height;

  .post-thumbnail {
    flex: 0 0 auto;

    width: $preview-height;
    height: $preview-height;
    object-fit: cover;
  }

  .post-details {
    flex: 1 1 auto;
    margin-left: 1em;

    .post-title {
      color: black;
      margin-top: 0.5em;
      display: inline-block;
    }

    .post-date {
      color: black;
      margin-top: 0.7em;
      margin-right: 1em;
      display: inline-block;
      float: right;
    }

    .post-excerpt {
      * {
        color: grey;
      }
    }
  }

  &.visible {
    opacity: 1;
  }
}

.post {
  background-color: white;

  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;

  * {
    color: black;
  }
}

.post-header {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, transparent 100%, white 100%);
  margin-bottom: -5px;
}

.post-header-image {
  max-width: 100%;
  max-height: 50vh;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  z-index: -1;
  position: relative;
}

.post-header-body-border {
  border-radius: 0px 0px 20px 20px;
}

.post-title {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 0.7em;
}

.post-date {
  display: inline-block;
  float: right;
  margin-top: 1.5em;
  margin-right: 20px;
}

.post-image {
  width: 100%;
  height: auto;
}

