---
---

.responsive-video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.stats {
  justify-content: center;
  display: flex;
}

.stat {
  margin: 20px 50px;
}

button.email-button {
  border-radius: 20px;
  border-width: 0;
  background-color: #9d68dc;
  padding: 15px;
  font-size: 20px;
  color: white;
  font-family: "JetBrains Mono", "Inconsolata", monospace;
  margin: 0;
}

.proposal {
  margin: 0 150px 0 150px;
}

.proposal.text-container {
  max-width: 900px;
}

.benefits-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
}

.benefit.text-container {
  width: 420px;
  margin: 0;
}

.sponsors-container {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 20px;
  grid-auto-flow: column;
  width: 100%;
}

.sponsors-container img {
  height: 75px;
}

.previous-sponsors {
  gap: 40px;
}

@media only screen and (max-width: 990px) {
  .benefit.text-container {
    width: 100%;
  }
}
