---
---

.ascii-container {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
pre.ascii {
  margin: 0;
  text-align: left;
  font-size: 2.8vmin;
  font-family: averagemono, monospace;
}
pre.ascii i {
  font-style: normal;
}
pre.ascii i[c="_"],
pre.ascii i[c="$"] {
  color: #ff9c00;
}
pre.ascii i[c=";"],
pre.ascii i[c="+"],
pre.ascii i[c="("],
pre.ascii i[c=")"],
pre.ascii i[c="!"],
pre.ascii i[c="="] {
  color: #fff;
}
pre.ascii i[c="["],
pre.ascii i[c="]"],
pre.ascii i[c="{"],
pre.ascii i[c="}"] {
  color: #58cad6;
}
pre.ascii i[c="0"],
pre.ascii i[c="1"],
pre.ascii i[c="2"],
pre.ascii i[c="3"],
pre.ascii i[c="4"],
pre.ascii i[c="5"],
pre.ascii i[c="6"],
pre.ascii i[c="7"],
pre.ascii i[c="8"],
pre.ascii i[c="9"] {
  color: #03e421;
}
pre.ascii i[c="comment"],
pre.ascii i[c="comment"] a,
pre.ascii i[c="comment"] a:visited {
  color: #fdff8a;
}
pre.ascii i[c="comment"] a h1,
pre.ascii i[c="comment"] a h2,
pre.ascii i[c="comment"] a:visited h1,
pre.ascii i[c="comment"] a:visited h2,
pre.ascii i[c="comment"] h1,
pre.ascii i[c="comment"] h2 {
  display: inline;
  font-size: inherit;
  font-weight: inherit;
}
pre.ascii .delay {
  display: inline-block;
  overflow: hidden;
  -webkit-animation: type 0.2s steps(60, end);
  animation: type 0.2s steps(60, end);
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
pre.ascii .delay.d1 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
pre.ascii .delay.d2 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
pre.ascii .delay.d3 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
pre.ascii .delay.d4 {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
pre.ascii .delay.d5 {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
pre.ascii .delay.d6 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
pre.ascii .delay.d7 {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
pre.ascii .delay.d8 {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
pre.ascii .delay.d9 {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
pre.ascii .delay.d10 {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}
pre.ascii .delay.d11 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
pre.ascii .delay.d12 {
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.7s;
}
pre.ascii .delay.d13 {
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
}
pre.ascii .delay.d14 {
  -webkit-animation-delay: 3.1s;
  animation-delay: 3.1s;
}
pre.ascii .delay.d15 {
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}
pre.ascii .delay.d16 {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
@-webkit-keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}