---
---

body {
  height: 100vh;
  overflow: hidden;
}

.lead {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 100vw;
  height: 95vh;
}

.ascii-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

pre.ascii {
  margin: 0;
  text-align: left;
  font-size: 2.8vmin;
  font-family: "averagemono", monospace;

  i {
    font-style: normal;

    &[c="_"],
    &[c="$"] {
      color: #ff9c00;
    }

    &[c=";"],
    &[c="+"],
    &[c="("],
    &[c=")"],
    &[c="!"],
    &[c="="] {
      color: #fff;
    }

    &[c="["],
    &[c="]"],
    &[c="{"],
    &[c="}"] {
      color: #58cad6;
    }
    &[c="0"],
    &[c="1"],
    &[c="2"],
    &[c="3"],
    &[c="4"],
    &[c="5"],
    &[c="6"],
    &[c="7"],
    &[c="8"],
    &[c="9"] {
      color: #03e421;
    }

    &[c="comment"] {
      color: #fdff8a;
      * {
        color: inherit;
      }
    }

    &[c="comment"] * {
      display: inline;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

.ascii {
  .delay {
    display: inline-block;
    overflow: hidden;
    animation: type 0.2s steps(60, end);
    animation-fill-mode: backwards;

    &.d1 {
      animation-delay: 0.5s;
    }
    &.d2 {
      animation-delay: 0.7s;
    }
    &.d3 {
      animation-delay: 0.9s;
    }
    &.d4 {
      animation-delay: 1.1s;
    }
    &.d5 {
      animation-delay: 1.3s;
    }
    &.d6 {
      animation-delay: 1.5s;
    }
    &.d7 {
      animation-delay: 1.7s;
    }
    &.d8 {
      animation-delay: 1.9s;
    }
    &.d9 {
      animation-delay: 2.1s;
    }
    &.d10 {
      animation-delay: 2.3s;
    }
    &.d11 {
      animation-delay: 2.5s;
    }
    &.d12 {
      animation-delay: 2.7s;
    }
    &.d13 {
      animation-delay: 2.9s;
    }
    &.d14 {
      animation-delay: 3.1s;
    }
    &.d15 {
      animation-delay: 3.3s;
    }
    &.d16 {
      animation-delay: 3.5s;
    }
  }
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
