---
layout: page
title: Developer Student Clubs
styles:
  - /css/clubs.css
  - /css/fadein.css
---

<a class="dsc-logo" href="https://developers.google.com/community/dsc/">
  <img alt="Developer Student Clubs University of Birmingham" src="/assets/dsc.png" />
</a>

<div class="dsc-description text-container">
  <p>
    Hello, and welcome to the Developer Student Club at the University of
    Birmingham!
  </p>
  <p>
    We're really proud to be part of a new, worldwide initiative, lead by
    Google! Throughout the year, we're going to be running developer clubs, with
    talks, workshops, mini-hackathons, and anything else that you guys want.
  </p>
  <p>
    The idea of the program is to try and link the theory that we learn at uni,
    with the practical skills required in the real world. So, during our
    sessions, we're going to be using industry-standard tools, common APIs, and
    a whole variety of different technologies to build awesome real-world
    projects that can go on a CV or portfolio.
  </p>
  <p>
    Essentially, we're here to help you out, so if there's anything that you
    think we should run, then <a href="/about#contact-us">contact us</a>!
  </p>
  {% if site.clubs.size != 0 %}
  <br />
  <h1>Projects</h1>
  <p>
    Here you can see a list of some of our previous epic projects/workshops that
    we've had!
  </p>
  {% endif %}
</div>

<div class="fadein-container">
  {% assign session = site.clubs.last %}
  <div class="club recent fadein" >
    {% if session.header-image %}
    <img alt="{{ session.title }}" class="header-image" src="{{ session.header-image | relative_url }}" />
    {% endif %}
    <div class="details">
      <h2>{{ session.title }}</h2>
      <h3 class="post-date">{{ session.date | date: "%b %-d, %Y"}}</h3>
      <div>
        {{ session.content | markdownify }}
      </div>
    </div>
  </div>

  <div class="clubs-list">
    {% for session in site.clubs reversed %} {% if forloop.first == true %} {%
    continue %} {% endif %}
    <div class="club not-recent fadein" style="--child-index: {{ forloop.index + 1}};">
      {% if session.header-image %}
      <img
        alt="{{ session.title }}"
        class="header-image"
        src="{{ session.header-image | relative_url }}"
      />
      {% endif %}
      <div class="details">
        <h2>{{ session.title }}</h2>
        <h3 class="post-date">{{ session.date | date: "%b %-d, %Y"}}</h3>
        <div>
          {{ session.content | markdownify }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
