---
layout: page
title: Committee Archive
styles:
  - /css/committee.css
  - /css/flags.css
  - /css/fadein.css
---

<h1>Committee Archive</h1>

<p>If you appear in this archive and wish for your data to be removed or amended, please <a href="mailto://css@guild.bham.ac.uk">send us an email</a>!</p>

{% assign committees = site.data.committee | sort %}
{% for committees in committees reversed %}
  {% assign committee = committees[1] %}
    {% assign empty_list = true %}
    {% for member in committee.people %}
      {% if member.end-date %}
        {% assign empty_list = false %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% unless empty_list %}
    <h2>{{ committee.academic_year }}</h2>
    <div class="person-container fadein-container">
      {% for person in committee.people %}
        {% if person.end-date %}
        <div class="person fadein" style="--child-index: {{ forloop.index }};">
          <img class="picture" src="{{ person.picture | relative_url }}" alt="picture of {{ person.name }}">
          <div class="details">
            <span class="name">{{ person.name }}</span>
            {% if person.pronouns %}
              <span class="pronouns">
                {{person.pronouns}}
              </span>
            {% endif %}
            <p class="role">
              {% if committee.prefix %}{{committee.prefix}}{% endif %}
              {{ person.role }}
              {% if committee.postfix %}{{committee.postfix}}{% endif %}
              {% if person.flags %}
                {% for flag in person.flags %}
                  {% if site.data.committee-flags.flags[flag] %}
                    <span class="flag-{{ flag }}" title="{{ site.data.committee-flags.flags[flag].description }}"><!--
                   -->{{ site.data.committee-flags.flags[flag].text }}<!--
                 --></span>
                  {% endif %} 
                {% endfor %}
              {% endif %}
              |
              {{ person.start-date | date: "%b %Y" }} -
              {{ person.end-date | date: "%b %Y" | default: "Present" }}
            </p>
            <p class="bio">
              {{ person.bio }}
            </p>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    {% endunless %}
  </div>
{% endfor %}
