---
---

<!DOCTYPE html>
<html>
<head>
  <title>UoB Computer Science Society</title>
  <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/posts.css">
</head>
<body>
  {% include header.html %}

  <main>
    <h1>Newsletter</h1>

    {% for post in site.posts %}
    <a class="post-preview" href="{{ post.url }}">
      {% if post.thumbnail %}
      <img class="post-thumbnail" src="{{ post.thumbnail }}">
      {% endif %}
      <div class="post-details">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="post-excerpt">
          {{ post.excerpt }}
        </div>
      </div>
    </a>
    {% endfor %}
  </main>

  {% include footer.html %}
</body>
</html>