---
layout: page
title: Newsletter
styles:
  - /css/posts.css
scripts:
  - /js/fadein.js
---

<h1>Newsletter</h1>

{% if site.news.size == 0 %}
<p>There's nothing here yet...</p>
{% endif %}

<div class="fadein-container">
  {% for post in site.news reversed %}
  <a class="post-preview fadein" href="{{ post.url | relative_url }}">
    {% if post.thumbnail %}
    <img alt="{{ post.title }}" class="post-thumbnail" src="{{ post.thumbnail | relative_url }}">
    {% endif %}
    <div class="post-details">
      <h2 class="post-title">{{ post.title }}</h2>
      <h3 class="post-date">{{ post.date | date: "%b %-d, %Y"}}</h3>
      <div class="post-excerpt">
      {% if post.description %}
        <p>{{ post.description }}</p>
      {% else %}
        <p>{{ post.excerpt | strip_html }}</p>
        {% endif %}
      </div>
    </div>
  </a>
  {% endfor %}
</div>