<header>
<span class="left">
    <a class="logo" href="{{ site.base_url }}/">
        <img alt="CSS logo" src="{{ '/assets/header-logo.svg' | relative_url }}">
    </a>
</span>
<span class="right">
    {% for item in site.menu %}
    {% if item.children %}
    <div class="nav dropdown">
    <div class="dropdown-btn">
    <button>{{ item.name | capitalize }}</button>
    </div>
    <div class="dropdown-content">
      {% for sub in item.children %}
      {% assign link = item.name | append: '/' | append: sub %}
      <a href="{{ link | relative_url }}">{{ sub }}</a>
      {% endfor %}
    </div>
    </div>
    {% else %}
    <div class="nav">
	<a href="{{ item.name | relative_url }}">{{ item.name | capitalize }}</a>
    </div>
    {% endif %}
    {% endfor %}
</span>
<div id="hamburger" class="hamburger">
    <img alt="Hamburger menu" src="{{ '/assets/hamburger.svg' | relative_url }}">
</div>
<div id="hamburger-menu" class="mobile-menu">
    {% for item in site.menu %}
    {% assign id = 0 %}
    <div class="nav">
	{% if item.children %}
	{% assign id = id +1 %}
	<button onclick="toggleShow({{ id }})">{{ item.name | capitalize }}</button>
	<div class="dropdown" style="display: none" id="hbdd_{{ id }}">
	  {% for sub in item.children %}
          {% assign link = item.name | append: '/' | append: sub %}
	  <a href="{{ link | relative_url }}">- {{ sub }}</a><br>
	  {% endfor %}
	</div>
	{% else %}
        <a href="{{ item.name | relative_url }}">{{ item.name | capitalize }}</a>
	{% endif %}
    </div>
    {% endfor %}
</div>
</header>
