---
layout: page
styles:
  - /css/main.css
  - /css/ball/main.css
title: CSS Ball
---
<a href=".">&larr; Go Back</a>
{% assign ball = site.data.ball.2022 %}
<div class="text-center-div margin-top margin-bottom">
    <h1 class="title">
        {{ ball.name }} {{ ball.year }}
    </h1>
    <h2 class="subtitle">
        MENU
    </h2>
</div>



<div class="text-center-div menu margin-bottom">
    {% for section in ball.menu %}
        <h1 class="menu-section-title">{{ section[0] | capitalize }}</h1>
        {% for item in section[1] %}
            <h2 class="menu-item">{{ item | upcase }}</h2>
        {% endfor %}
    {% endfor %}
</div>


<div class="text-center-div margin-bottom">
    <p class="text-block">
        If you have any dietary requirements, please let us know when you purchase your ticket.
    </p>
</div>