---
layout: page
styles:
  - /css/main.css
  - /css/ball/main.css
title: CSS Ball
---
<a href=".">&larr; Go Back</a>
{% assign ball = site.data.ball.2022 %}
<div class="text-center-div margin-top margin-bottom">
    <h1 class="title">
        {{ ball.name }} {{ ball.year }}
    </h1>
    <h2 class="subtitle">
        MENU
    </h2>
</div>



<div class="text-center-div menu margin-bottom">
    {% for section in ball.menu %}
        <h1 class="menu-section-title">{{ section[0] | capitalize }}</h1>
        {% for item in section[1] %}
        <div class="menu-item-container ">
            <h2 class="menu-item">{{ item.dish | upcase }}</h2>
            {% if item.type %}
            <h3 class="menu-type"> - {{ item.type | upcase }}</h3>
            {% endif %}
        </div>
        {% endfor %}
    {% endfor %}
</div>


<div class="text-center-div margin-bottom">
    <p class="text-block">
        A vegan version of each vegetarian option is available.
        Meals will be altered to account for any dietary requirements.
        Please let us know what these are when you purchase your ticket.
    </p>
</div>