---
layout: page
styles:
  - /css/main.css
  - /css/ball/main.css
title: CSS Ball
favicon: /ball/favicon.ico
---

{% assign ball = site.data.ball['2021'] %}

<div class="text-center-div margin-top">
    <h1 class="title">
        {{ ball.name }} {{ ball.year }}
    </h1>
    <h2 class="subsubtitle venue-date">
      <span class="avoidwrap"><a href="{{ball.location}}">{{ball.location}}</a></span> • <span class="avoidwrap">{{ball.date}}</span>
    </h2>
    <p class="text-block"> 
        Attendees: {{ ball.attendees }}
    </p> 
</div>

<div class="text-center-div margin-bottom section-faq" id="FAQ">
    {% for qanda in ball.features %}
        <div class="faq">
        <h3 class="subsubtitle question">{{ qanda.title }}</h3>
        <p class="text-block answer">{{ qanda.paragraph }}</p>
        </div>
	{% for image in qanda.images %}
	  {% assign url = ball.image_root | append: image.name %}
	  <img class="image" src="{{ url }}", alt="An image taken at the 2021 CSS Ball">
	  <br>
	{% endfor %}
    {% endfor %}
</div>
