---
---

@import url('/css/ball/main.css');

$primary-background: #241040;
$primary-lowlight: #0c0515;

$secondary-highlight: #e4d05f;
$secondary-background: #cbb347;
$secondary-lowlight: #79651b;
$secondary-text: #000;

$text: #fff;

$font-primary: "Gentium Book Basic", "CMUSerifRoman", serif;
$font-secondary: "Ovo", serif;

body {
  hr {
    border: 2px solid $secondary-highlight;
    border-left: 0;
    border-right: 0;
    margin: 0;
    position: relative;
    
    &.small {
      border: 1px solid rgba(255, 255, 255, 0.3);
      position: block;
    }

    &.bleed-bottom:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 15px;
      background: linear-gradient(to top, #0000 0%, #e4d05f55 100%);
      content: '';
      display: inline-block;
      z-index: 69;
    }

    &.bleed-top:before {
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      height: 15px;
      background: linear-gradient(to bottom, #0000 0%, #e4d05f55 100%);
      content: '';
      display: inline-block;
      z-index: 69;
    }
  }

  .margin-top {
    border-top: unset;
  }
  .margin-bottom {
    border-bottom: unset;
  }

  & #count {
    span {
      font-size: 0.8em;
    }

    span:not(:last-child) {
      padding-right: 0.6em;
    }
  }

  .section-details {
    h1 {
      text-align: center;
      font-size: 180px;
      font-family: $font-primary;
      margin-top: 0.1em;
      margin-bottom: 0.2em;
      color: $secondary-highlight;
      text-shadow: 0.5vw 0.5vw 0.6vw $primary-lowlight;
    }
    h2 {
      font-size: 60px;
      font-family: $font-primary;
      margin: 0.5em;
      color: $text;
      text-shadow: 0.2vw 0.2vw 0.2vw $primary-lowlight;
    }
    h3 {
      font-size: 40px;
      font-family: $font-primary;
      margin: 0.5em;
      color: $text;
      text-shadow: 0.2vw 0.2vw 0.2vw $primary-lowlight;
    }
  }
  
  .section-info {
    margin: 0;
    padding: 0;
    position: relative;

    .mobile-only {
      display: none;
    }
    .description-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 400px;
      height: 60vh;
      background: linear-gradient(to right, #0000 0%, #0c0515d0 5%);
      padding: 0 20px 0 50px;
      margin: 0;
      max-height: 500px;
      .subtitle {
        margin: 15px 0;
        margin-top: 25px;
      }
    }
    .description-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      height: 60vh;
      background: linear-gradient(to left, #0000 0%, #0c0515d0 5%);
      padding: 0 50px 0 20px;
      margin: 0;
      max-height: 500px;
      .subtitle {
        margin: 15px 0;
        margin-top: 25px;
      }
    }
    .image {
      object-fit: cover;
      object-position: 50% 25%;
      max-width: None;
      height: 60vh;
      max-height: 500px;
    }
    @media screen and (max-width: 500px) {
      .mobile-only {
        display: revert;
      }
      .description-left, .description-right {
        position: static;
        width: revert;
        height: revert;
        background: revert;
        padding: revert;
        .subtitle {
          display: none;
        }
      }
    }
  }
  
  .button {
    text-align: center;
  }

  .section-tickets {
    background-color: #00000044;
    margin: 0; 
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    
    .icon {
      height: 120px;      
    }
    
    .text {
      flex-grow: 1;
    }

    .subtitle {
      margin-top: 0;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
  
  .highlight {
    color: $secondary-highlight;
  }
  
}

.menu {
  width: 80%;
  margin: 0 auto;
  
  hr {
    margin: 25px 0;
  }
  
  .menu-section-title {
    margin-top: unset;
    font-size: 40px;
  }
  
  .menu-item-container {
    border-top: unset;
    width: 100%;
  }
  
  .menu-item-seperator {
    font-family: $font-secondary;
    color: #bbb;
  }
  
  .menu-footer {
    background-color: #00000044;
    padding: 1em;
  }
}