---
layout: page
styles:
  - /css/main.css
  - /css/ball/main.css
title: CSS Ball
favicon: /ball/favicon.ico
---

{% assign ball = site.data.ball['2020'] %}

<div class="text-center-div margin-top margin-bottom">
    <h1 class="title">
        {{ ball.name }} {{ ball.year }}
    </h1>
    <h2 class="subsubtitle venue-date">
        <span class="avoidwrap">{{ball.location}}</span> • <span class="avoidwrap">{{ball.date}}</span>
    </h2>
    <p class="text-block"> 
        Attendees: {{ ball.attendees }}
    </p>
    {% for link in ball.links %}
    <a href='{{link.url}}' class="button">{{link.text}}</a>
    {% endfor %}
</div>

<div class="text-center-div margin-bottom section-faq" id="FAQ">
    {% for qanda in ball.features %}
        <div class="faq">
        <h3 class="subsubtitle question">{{ qanda.title }}</h3>
        <p class="text-block answer">{{ qanda.paragraph }}</p>
        </div>
        {% assign url = ball.image_root | append: qanda.image %}
        <img class="image" src="{{ url }}", alt="An image taken at the 2020 CSS Ball">
        <br>
    {% endfor %}
</div>
