<!DOCTYPE html>
<html>
<head>
  {% if page.title %}
  <title>UoB Computer Science Society - {{ page.title }}</title>
  {% else %}
  <title>UoB Computer Science Society</title>
  {% endif %}

  <meta name="description" content="{{site.description}}">

  <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
  <meta name=viewport content="width=device-width, initial-scale=1">

  <script src="{{ '/js/hamburger.js' | relative_url }}"></script>

  <link rel="stylesheet" href="{{ '/css/normalize.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">

  {% if page.styles %}
  {% for style in page.styles %}
  <link rel="stylesheet" href="{{ style | relative_url }}">
  {% endfor %}
  {% endif %}

  {% if page.scripts %}
  {% for script in page.scripts %}
  <script src="{{ script | relative_url }}"></script>
  {% endfor %}
  {% endif %}

  {% seo %}
</head>
<body>
  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>