<!DOCTYPE html>
<html>
<head>
  <title>UoB Computer Science Society - {{ page.title }}</title>
  <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/css/normalize.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/posts.css' | relative_url }}">

  <script src="{{ '/js/hamburger.js' | relative_url }}"></script>

  {% seo %}
</head>
<body>
  {% include header.html %}
  <main>
    {% include xmas_banner.html %}
    
    <div class="post-header">
      {% if page.header-image %}
        <img class="post-header-image" src="{{ page.header-image | relative_url }}">
      {% endif %}
    </div>

    {% if page.header-image %}
    <div class="post post-header-body-border">
    {% else %}
    <div class="post">
    {% endif %}
      <h2 class="post-title">{{ page.title }}</h2>
      <h3 class="post-date">- Date Posted: {{ page.date | date: "%b %-d, %Y"}}</h3>
      {{ content }}
    </div>
  </main>

  {% include footer.html %}
</body>
</html>